pkgbase = duckstation-git
	pkgdesc = Fast PlayStation 1 emulator for x86-64/AArch32/AArch64/RV64
	pkgver = 0.1.r9937.eae25e0
	pkgrel = 1
	url = https://github.com/stenzek/duckstation
	arch = x86_64
	license = CC-BY-NC-ND-4.0
	makedepends = git
	makedepends = cmake
	makedepends = lld
	makedepends = llvm
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	makedepends = patchelf
	makedepends = ninja
	makedepends = jack
	makedepends = pipewire
	makedepends = libpulse
	makedepends = sndio
	makedepends = libdecor
	makedepends = wayland
	makedepends = python
	makedepends = vulkan-headers
	makedepends = libunwind
	makedepends = clang
	depends = glibc
	depends = gcc-libs
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = libjpeg-turbo
	depends = zlib
	depends = zstd
	depends = freetype2
	depends = libwebp
	depends = libpng
	depends = systemd-libs
	depends = libzip
	depends = libbacktrace
	depends = curl
	depends = ffmpeg
	provides = duckstation
	conflicts = duckstation
	options = !lto
	options = !debug
	source = duckstation-git::git+https://github.com/stenzek/duckstation.git
	sha256sums = SKIP

pkgname = duckstation-git
